.header-container {
  display: flex;
  justify-content: center;
}

.parent-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.gameboard {
  display: grid;
  width: 600px;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
}

.cell {
  border: 2px solid black;
  background-color: white;
}

.no-top {
  border-top: none;
}

.no-left {
  border-left: none;
}

.no-right {
  border-right: none;
}

.no-bottom {
  border-bottom: none;
}
